# Datos (ignoramos el contenido pero mantenemos la estructura de carpetas)
data/*
!data/**/.gitkeep
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Pesos y modelos entrenados
weights/*
!weights/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp
