--extra-index-url https://download.pytorch.org/whl/cu121

# Deep Learning (fijados por el usuario)
torch==2.5.1+cu121
torchvision==0.20.1+cu121

# Data Augmentation
albumentations==2.0.8

# YOLO / Object Detection Framework
ultralytics==8.3.27

# HuggingFace
transformers==4.46.2
timm

# Herramientas base
numpy<2.0.0
pandas
matplotlib
opencv-python<5.0.0

# Cuadernos interactivos
jupyterlab
ipykernel

# Tracking y utilidades
pycocotools
torchmetrics
PyYAML
tqdm
